<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is needed to provide information on current location weather</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location is needed to provide information on current location weather</string>
	<key>UIAppFonts</key>
	<array>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-Light.ttf</string>
		<string>NunitoSans-ExtraLight.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
